<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FiscalApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FiscalApp.Properties.Settings.dbProgram" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <FiscalApp.Properties.Settings>
            <setting name="HotWords" serializeAs="String">
                <value />
            </setting>
            <setting name="SempreNoTopo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastCFOPtyped" serializeAs="String">
                <value>1999/XX</value>
            </setting>
            <setting name="lastCodServicotyped" serializeAs="String">
                <value />
            </setting>
            <setting name="lastCodImpostoIVAtyped" serializeAs="String">
                <value>IA</value>
            </setting>
            <setting name="lastRepeatTimesTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdePaginasTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdeItensNFTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastICMSTyped" serializeAs="String">
                <value />
            </setting>
            <setting name="lastIPITyped" serializeAs="String">
                <value />
            </setting>
            <setting name="lastCFOPServicoScreenTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdeRepeatTaxTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastCOFINSTyped" serializeAs="String">
                <value />
            </setting>
            <setting name="lastPISTyped" serializeAs="String">
                <value />
            </setting>
            <setting name="NumeroPedido" serializeAs="String">
                <value>4500525861</value>
            </setting>
            <setting name="DataFatura" serializeAs="String">
                <value>01012020</value>
            </setting>
            <setting name="DataLancamento" serializeAs="String">
                <value>13012020</value>
            </setting>
            <setting name="NumeroNF" serializeAs="String">
                <value>251479-55</value>
            </setting>
            <setting name="CFOPTelefonia" serializeAs="String">
                <value />
            </setting>
            <setting name="ValorNFTelefonia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaseCalculoTelefonia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValorIsentasTelefonia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataFaturaMIRO" serializeAs="String">
                <value>01012020</value>
            </setting>
            <setting name="NumeroNFMIRO" serializeAs="String">
                <value>251479-55</value>
            </setting>
            <setting name="MontanteMIRO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumeroPedidoMIRO" serializeAs="String">
                <value>4500525861</value>
            </setting>
            <setting name="CategoriaNFMIRO" serializeAs="String">
                <value />
            </setting>
            <setting name="UFFornecedor" serializeAs="String">
                <value />
            </setting>
            <setting name="CFOPNFMiro" serializeAs="String">
                <value />
            </setting>
            <setting name="CodigoServicoMIRO" serializeAs="String">
                <value />
            </setting>
            <setting name="FimCNPJ" serializeAs="String">
                <value />
            </setting>
            <setting name="MIROSimples" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MIROSimei" serializeAs="String">
                <value>False</value>
            </setting>
        </FiscalApp.Properties.Settings>
        <MyLogger.Properties.Settings>
            <setting name="HotWords" serializeAs="String">
                <value/>
            </setting>
            <setting name="SempreNoTopo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastCFOPtyped" serializeAs="String">
                <value>1999/XX</value>
            </setting>
            <setting name="lastCodServicotyped" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastCodImpostoIVAtyped" serializeAs="String">
                <value>IA</value>
            </setting>
            <setting name="lastRepeatTimesTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdePaginasTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdeItensNFTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastICMSTyped" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastIPITyped" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastCFOPServicoScreenTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdeRepeatTaxTyped" serializeAs="String">
                <value>2</value>
            </setting>
        </MyLogger.Properties.Settings>
    </userSettings>
</configuration>
