<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FiscalApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FiscalApp.Properties.Settings.dbProgram" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="FiscalApp.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\newDebug\App_Data\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <FiscalApp.Properties.Settings>
            <setting name="HotWords" serializeAs="String">
                <value />
            </setting>
            <setting name="SempreNoTopo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastCFOPtyped" serializeAs="String">
                <value>1999/XX</value>
            </setting>
            <setting name="lastCodServicotyped" serializeAs="String">
                <value />
            </setting>
            <setting name="lastCodImpostoIVAtyped" serializeAs="String">
                <value>IA</value>
            </setting>
            <setting name="lastRepeatTimesTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdePaginasTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdeItensNFTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastICMSTyped" serializeAs="String">
                <value />
            </setting>
            <setting name="lastIPITyped" serializeAs="String">
                <value />
            </setting>
            <setting name="lastCFOPServicoScreenTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdeRepeatTaxTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastCOFINSTyped" serializeAs="String">
                <value />
            </setting>
            <setting name="lastPISTyped" serializeAs="String">
                <value />
            </setting>
        </FiscalApp.Properties.Settings>
        <MyLogger.Properties.Settings>
            <setting name="HotWords" serializeAs="String">
                <value/>
            </setting>
            <setting name="SempreNoTopo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastCFOPtyped" serializeAs="String">
                <value>1999/XX</value>
            </setting>
            <setting name="lastCodServicotyped" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastCodImpostoIVAtyped" serializeAs="String">
                <value>IA</value>
            </setting>
            <setting name="lastRepeatTimesTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdePaginasTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdeItensNFTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastICMSTyped" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastIPITyped" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastCFOPServicoScreenTyped" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastQtdeRepeatTaxTyped" serializeAs="String">
                <value>2</value>
            </setting>
        </MyLogger.Properties.Settings>
    </userSettings>
</configuration>
